<main class="container-fluid">

  <section class="row">

    <aside class="col-sm-3 screen"  >
      
      <div class="header">
        Cabecalho
      </div><!-- cabecalho da barra lateral -->
      
      <div class="contact-list">
        <ul>
          <li>
            <div class="avatar">
              <img src="" alt="avatar">
            </div>
            <div class="details">
              <span class="username">email@email.com</span>
              <span class="status"></span>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="footer">
        Rodapé
      </div><!-- rodape da barra lateral -->

    </aside><!-- fim da barra lateral -->

    <div class="col-sm-9 screen" style="background: yellow">

      <div class="messages-list">
        <ul>
          
          <li class="received">
            <div class="avatar">
              <img src="" alt="avatar">
            </div>
            <div class="message">
              <div class="username">
                <span>Email@email.com</span>
              </div>
              <div class="text">
                <p>
                  Uma mensagem qualuqer
                </p>
              </div>
              <div class="date">
                <p>
                  Enviado as 23h50m 17.11.1996
                </p>
              </div>
            </div>
          </li><!-- mensagem -->

          <li class="sent">
            <div class="avatar">
              <img src="" alt="avatar">
            </div>
            <div class="message">
              <div class="username">
                <span>Email@email.com</span>
              </div>
              <div class="text">
                <p>
                  Uma mensagem qualuqer
                </p>
              </div>
              <div class="date">
                <p>
                  Enviado as 23h50m 17.11.1996
                </p>
              </div>
            </div>
          </li><!-- mensagem -->

        </ul>
      </div><!-- lista de mensagem -->

      <div class="input-wrapper">
        <textarea name="message" id="" cols="30" rows="10" class="input-message"></textarea>
      </div><!-- text area da mensage -->

      <div class="action-buttons">
        <button class="btn btn-danger" disabled='disabled'>Remover</button>
        <button class="btn btn-success">Enviar</button>
      </div><!-- botoes de acao -->

    </div>

  </section>

</main>
